<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Розширений пошук</title>

    <link th:href="@{../css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{../vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{../vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/vector-map/jqvmap.min.css}" rel="stylesheet" media="all">
    <link rel="stylesheet" th:href="@{../vendor/jstree/dist/themes/default/style.css}" />
    <!-- Main CSS-->
    <link th:href="@{../css/theme.css}" rel="stylesheet" media="all">

</head>

<body>

<div th:replace="fragments/skeleton :: navbar(${user}, ${query})"></div>

<!-- MAIN CONTENT-->
<div class="main-content">

    <form th:object="${criteria}" th:action="@{/advancedSearch}" method="post" class="form-horizontal">
        <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Загальна інформація</strong>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label"><h4>Підрозділ: </h4></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="VITIunit" class="form-check-label ">
                                                <input type="checkbox" id="VITIunit" name="viti" th:field="*{{forwards}}" th:value="${T(viti.kaf22.entities.enums.Forward).INSTITUTE}" class="form-check-input"> ВІТІ (Ден. форма)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="EXTRAMURALunit" class="form-check-label ">
                                                <input type="checkbox" id="EXTRAMURALunit" name="extram" th:field="*{{studyForm}}" th:value="${T(viti.kaf22.entities.enums.StudyForm).EXTRAMURAL}" class="form-check-input"> ВІТІ (Заоч. форма)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="VKSSunit" class="form-check-label ">
                                                <input type="checkbox" id="VKSSunit" name="vkss" th:field="*{{forwards}}" th:value="${T(viti.kaf22.entities.enums.Forward).COLLEGE}" class="form-check-input"> ВКСС
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label"><h4>Соц. статус: </h4></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="civil" class="form-check-label ">
                                                <input type="checkbox" id="civil" name="civil" th:field="*{{socialStatus}}" th:value="${T(viti.kaf22.entities.enums.SocialStatus).CIVIL}" class="form-check-input"> Цивільна молодь
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="military" class="form-check-label ">
                                                <input type="checkbox" id="military" name="military" th:field="*{{socialStatus}}" th:value="${T(viti.kaf22.entities.enums.SocialStatus).MILITARY}" class="form-check-input"> Військовослужбовець
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="lyceumCheck" class="form-check-label ">
                                                <input type="checkbox" id="lyceumCheck" name="lyceum" th:field="*{{isLyceum}}" th:value="${T(viti.kaf22.entities.enums.Lyceum).LYCEUM}" class="form-check-input"> Ліцеїст
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label"><h4>Стать: </h4></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check-inline form-check">
                                        <div class="checkbox mr-3">
                                            <label for="male" class="form-check-label ">
                                                <input type="checkbox" id="male" name="male" th:field="*{{genders}}" th:value="${T(viti.kaf22.entities.enums.Gender).MALE}" class="form-check-input"> Чоловік
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="female" class="form-check-label ">
                                                <input type="checkbox" id="female" name="female" th:field="*{{genders}}" th:value="${T(viti.kaf22.entities.enums.Gender).FEMALE}" class="form-check-input"> Жінка
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Інформація документів</strong>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="privileges" class=" form-control-label"><h4>Пільги: </h4></label>
                                </div>
                                <div class="col col-md-6">
                                    <select th:field="*{privileges}" name="privileges" id="privileges" multiple="" class="form-control">
                                        <option th:each="privilege : ${privilegeDocuments}"
                                                th:text="${privilege.getNamePrivilegeDocument()}"
                                                th:value="${{privilege}}"></option>
                                    </select>
                                    <small>Для вибору декількох пільг, утримуйте Ctrl</small>
                                </div>
                            </div>
                            <hr/>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label"><h4>Наявність сертифікату ЗНО</h4></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check-inline form-check">
                                        <div class="radio mr-3">
                                            <label for="present" class="form-check-label ">
                                                <input type="radio" id="present" name="radios" th:field="*{znoCertificate}" th:value="'2'" class="form-check-input">Сертифікат є
                                            </label>
                                        </div>
                                        <div class="radio mr-3">
                                            <label for="absent" class="form-check-label ">
                                                <input type="radio" id="absent" name="radios" th:field="*{znoCertificate}" th:value="'1'" class="form-check-input">Сертифікату немає
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label for="all" class="form-check-label ">
                                                <input type="radio" id="all" name="radios" th:field="*{znoCertificate}" th:value="'0'" class="form-check-input">Вибрати всі
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Інформація про вступні випробування</strong>
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <!--<div class="col col-md-1 mr-3">
                                    <label class=" form-control-label"><u>Вступні випробування: </u></label>
                                </div>-->
                                <!--<div class="col col-md-2">
                                    <div class="form-check">
                                        <div class="checkbox">
                                            <label for="medical" class="form-check-label ">
                                                <input type="checkbox" id="medical" name="medical" th:field="*{medicine}" class="form-check-input"> Медичний огляд
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="psych" class="form-check-label ">
                                                <input type="checkbox" id="psych" name="psych" th:field="*{psych}" class="form-check-input"> Проф. відбір
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label for="sport" class="form-check-label ">
                                                <input type="checkbox" id="sport" name="sport" th:field="*{physical}" class="form-check-input"> Фіз. підготовка
                                            </label>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="col-md-2">
                                    <p class="form-control-static"><h4>Медогляд</h4></p>
                                    <div class="form-check">
                                        <div class="checkbox" th:each="medicineVal : ${T(viti.kaf22.entities.enums.MedicalInspection).getAll()}">
                                            <input th:field="*{{medicalInsp}}" th:value="${medicineVal}"
                                                   th:text="${medicineVal.getName()}" type="checkbox"
                                                   class="form-check-input">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <p class="form-control-static"><h4>Фізо</h4></p>
                                    <div class="form-check">
                                        <div class="checkbox" th:each="physicalVal : ${T(viti.kaf22.entities.enums.PhysicalTraining).getAll()}">
                                            <input th:field="*{{physicalTr}}" th:value="${physicalVal}"
                                                   th:text="${physicalVal.getName()}" type="checkbox"
                                                   class="form-check-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <p class="form-control-static"><h4>Профвідбір</h4></p>
                                    <div class="form-check">
                                        <div class="checkbox"
                                             th:each="psychVal : ${T(viti.kaf22.entities.enums.ProfessionalSelection).getAll()}">
                                            <input th:field="*{{profSelect}}" th:value="${psychVal}"
                                                   th:text="${psychVal.getName()}" type="checkbox"
                                                   class="form-check-input">
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-md-2">
                                    <label class="form-control-label"><h4>Пріоритет: </h4></label><br/>
                                    <small>Для вибору декількох пріоритетів, утримуйте Ctrl</small>
                                </div>
                                <div class="col col-md-2">
                                    <select th:field="*{priorities}" name="prioprity" id="prioprity" multiple="" class="form-control">
                                        <option th:each="prior : ${specialties}"
                                                th:text="${prior.getSpecialtyAbbreviation()}"
                                                th:value="${{prior}}"></option>
                                    </select>
                                </div>

                                <!--<div class="col col-md-2">
                                    <label class="form-control-label"><u>№ Пріоритету: </u></label>
                                    <input type="text" th:field="*{priorityNum}" class="form-control">
                                    <label for="chooseAll" class="form-check-label ml-4">
                                        <input type="checkbox" id="chooseAll" value="option2" class="form-check-input"> Вибрати всі
                                    </label>
                                </div>-->
                            </div>
                            <div>
                                <button id="search-button" type="submit" class="btn btn-lg btn-outline-primary btn-block mt-5">
                                    <i class="fa fa-search fa-lg"></i>&nbsp;
                                    <span id="payment-button-amount">Шукати </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>© Department of computer information technologies</br>Military institute of
                            telecommunications and information technologies named after Heroes of Kruty</p>
                        <p>2017 -
                            <script language="JavaScript" type="text/javascript">
                                now = new Date;
                                theYear = now.getYear();
                                if (theYear < 1900)
                                    theYear = theYear + 1900;
                                document.write(theYear)
                            </script>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</div>

</div>

<script th:src="@{../vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{../vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{../vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<script th:src="@{../vendor/slick/slick.min.js}"></script>
<script th:src="@{../vendor/wow/wow.min.js}"></script>
<script th:src="@{../vendor/animsition/animsition.min.js}"></script>
<script th:src="@{../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<script th:src="@{../vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{../vendor/counter-up/jquery.counterup.min.js}"></script>
<script th:src="@{../vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{../vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{../vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{../vendor/select2/select2.min.js}"></script>
<script th:src="@{../js/sidebarOpen.js}"></script>
<script th:src="@{../vendor/jstree/dist/jstree.min.js}"></script>

</body>

</html>
<!-- end document-->
