<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div class="header-mobile__bar">
    <div class="container-fluid">
        <div class="header-mobile-inner">
            <a class="logo" href="/cabinet">
                <img src="../images/icon/logoK.png" alt="ІС 'КВАРТИРА'"/>
            </a>
        </div>
    </div>
</div>
<h1>ОТ ХАЛЕПА, СХОЖЕ У ВАС НЕМАЄ ДОСТУПУ АБО НЕ ВІРНО ВВЕДЕНІ ДАНІ</h1>
</body>
</html>