<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">
<title>Додавання особи</title>
<head>
    <link th:href="@{../css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{../vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{../vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/vector-map/jqvmap.min.css}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{../css/theme.css}" rel="stylesheet" media="all">

</head>

<body>
<div th:replace="fragments/skeleton :: navbar(${user}, ${query})"></div>
<!-- END BREADCRUMB-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <form th:object="${customer}" th:action="@{/input}" method="post" class="form-horizontal" id="editForm">
                <div class="row">
                    <div class="card col-lg-6">
                        <div class="card-header">
                            <strong>Основні дані про особу</strong>
                        </div>
                        <div class="card-body card-block">
                            <input th:field="*{id}" th:value="${customer.id}" hidden/>
                            <input th:field="*{zagalna}" th:value="${customer.zagalna}" hidden/>
                            <input th:field="*{pilgova}" th:value="${customer.pilgova}" hidden/>
                            <div class="col-12 col-md-9">
                                <h4><label class=" form-control-label"
                                           th:text="'Номер в загальній черзі:   '+${customer.zagalna}"></label></h4>
                            </div>
                            <div class="col-12 col-md-9">
                                <h4><label class=" form-control-label"
                                           th:text="'Номер в пільговій черзі:   '+${customer.pilgova}"></label></h4>
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>Прізвище</h4>
                                    </label>
                                    <input type="text" th:field="*{surname}" th:value="${customer.surname}"
                                           name="text-input" id="text-input"
                                           placeholder="Прізвище" class="form-control">
                                </div>
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>Ім'я</h4></label>
                                    <input type="text" th:field="*{name}" th:value="${customer.name}"
                                           name="text-input"
                                           placeholder="Ім'я" class="form-control">
                                </div>
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>По батькові</h4>
                                    </label>
                                    <input type="text" th:field="*{thirdName}" th:value="${customer.thirdName}"
                                           name="text-input"
                                           placeholder="По батькові" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>Військове
                                        звання</h4></label>
                                    <input type="text" th:field="*{rank.nameRank}"
                                           list="r"
                                           name="text-input"
                                           class="form-control">
                                    <datalist id="r">
                                        <option th:each="var : ${ranks}"
                                                th:value="${var.getNameRank()}">
                                    </datalist>
                                </div>
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>Місце служби</h4></label>
                                    <input type="text" th:field="*{work.workPlace}"
                                           list="w"
                                           name="text-input"
                                           class="form-control">
                                    <datalist id="w">
                                        <option th:each="var : ${works}"
                                                th:value="${var.getWorkPlace()}">
                                    </datalist>
                                </div>
                                <div class="col-12 col-md-9">
                                    <label class="form-control-label"><h4>Номер телефону</h4></label>
                                    <!--                                <div class="form-group">-->
                                    <div class="input-group">
                                        <div class="input-group-addon">+38</div>
                                        <input type="tel" th:field="*{phoneNumber}"
                                               th:value="${customer.phoneNumber}" class="form-control">
                                        <div class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-md-9">
                                    <label class=" form-control-label"><h4>Дата постановки на квартирний облік</h4>
                                    </label>
                                    <input type="date" th:field="*{accountingDate}"
                                           th:value="${customer.accountingDate}"
                                           name="date-input" id="acc"
                                           placeholder="Дата постановки" class="form-control date">
                                </div>
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>Кількість членів сім'ї</h4>
                                    </label>
                                    <input type="number" th:field="*{familyCount}"
                                           th:value="${customer?.familyCount}" name="text-input"
                                           placeholder="Кількість членів сім'ї" class="form-control">
                                </div>
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>Кількість кімнат</h4>
                                    </label>
                                    <input type="number" th:field="*{roomCount}"
                                           th:value="${customer?.roomCount}" name="text-input"
                                           placeholder="Кількість кімнат" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static"><h4>Потребує доотримання житла?</h4></p>
                                <div class="form-check">
                                    <div class="radio"
                                         th:each="ty : ${T(com.sachuk.keu.entities.enums.Rozshirennya).values()}">
                                        <input th:field="*{rozshirennya}" th:value="${ty}"
                                               th:text="${ty.getName()}" type="radio"
                                               name="radios"
                                               class="form-check-input"/>
                                        <label th:for="${#ids.prev('rozshirennya')}"
                                               class="form-check-label "/>
                                    </div>
                                </div>
                            </div>

                            <script>
                                articles = document.getElementById('rozshirennya2');
                                articles2 = document.getElementById('rozshirennya1');

                                articles.addEventListener('click', showMil, false);

                                function showMil(ev) {
                                    document.getElementById('addressText').setAttribute('class', 'row form-group');
                                }

                                articles2.addEventListener('click', showMil2, false);

                                function showMil2(ev) {
                                    document.getElementById('addressText').setAttribute('class', 'row form-group d-none');
                                }

                            </script>
                            <div id="addressText" class="row form-group"
                                 th:classappend="${#strings.equals(customer.address, null)}?'d-none':''">
                                <div class="col-12 col-md-9">
                                    <label for="text-input" class=" form-control-label"><h4>Адреса проживання</h4>
                                    </label>
                                    <input type="text" th:field="*{address}"
                                           th:value="${customer?.address}" name="text-input-null"
                                           placeholder="Введіть адресу" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="form-control-static"><h4>Забезпечений?</h4></p>
                                <div class="form-check">
                                    <div class="radio"
                                         th:each="ty : ${T(com.sachuk.keu.entities.enums.Provided).values()}">
                                        <input th:field="*{provided}" th:value="${ty}"
                                               th:text="${ty.getName()}" type="radio"
                                               name="radios"
                                               class="form-check-input"/>
                                        <label th:for="${#ids.prev('provided')}"
                                               class="form-check-label "/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card   col-lg-6">
                        <div class="card-header">
                            <strong>Додаткові дані про особу</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="row form-group">
                                    <div class="col-12 col-md-9">
                                        <label for="text-input" class=" form-control-label"><h4>Пільга</h4></label>
                                        <select class="form-control select" th:field="*{quota}">
                                            <option id="qu" th:each="var : ${quotas}"
                                                    th:value="${var.id}" th:text="${var.nameQuota}"></option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label class=" form-control-label"><h4>Дата зарахування до пільгової черги</h4>
                                        </label>
                                        <input type="date" th:field="*{quotaDate}"
                                               th:value="${customer.quotaDate}"
                                               name="date-input"
                                               placeholder="Дата видачі" class="form-control date">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12 col-md-9">
                                        <label for="text-input" class=" form-control-label"><h4>Пільга 2(за
                                            наявності)</h4></label>
                                        <select class="form-control select" th:field="*{quota2}">
                                            <option id="qu2" th:each="var : ${quotas}"
                                                    th:value="${var.id}" th:text="${var.nameQuota}"></option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label class=" form-control-label"><h4>Дата зарахування до пільгової черги</h4>
                                        </label>
                                        <input type="date" th:field="*{quotaDate2}"
                                               th:value="${customer.quotaDate2}"
                                               name="date-input"
                                               placeholder="Дата видачі" class="form-control date">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12 col-md-9 co">
                                        <p class="form-control-static"><h4>Сім'я в/сл. загиблого з часу
                                        широкомасштабного вторгнення рф?</h4></p>
                                        <div class="form-check">
                                            <div class="radio"
                                                 th:each="ty : ${T(com.sachuk.keu.entities.enums.FamilyWar2022).values()}">
                                                <input th:field="*{familyWar2022}" th:value="${ty}"
                                                       th:text="${ty.getName()}" type="radio"
                                                       name="radios"
                                                       class="form-check-input"/>
                                                <label th:for="${#ids.prev('familyWar2022')}"
                                                       class="form-check-label "/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-12 col-md-9">
                                        <p class="form-control-static"><h4>Пройшов реєстрацію?</h4></p>
                                        <div class="form-check">
                                            <div class="radio"
                                                 th:each="ty : ${T(com.sachuk.keu.entities.enums.Registrated).values()}">
                                                <input th:field="*{registrated}" th:value="${ty}"
                                                       th:text="${ty.getName()}" type="radio"
                                                       name="radios"
                                                       class="form-check-input"/>
                                                <label th:for="${#ids.prev('registrated')}"
                                                       class="form-check-label "/>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        articles = document.getElementById('registrated2');
                                        articles2 = document.getElementById('registrated1');

                                        articles.addEventListener('click', showMil, false);

                                        function showMil(ev) {
                                            document.getElementById('flatText').setAttribute('class', 'row form-group');
                                        }

                                        articles2.addEventListener('click', showMil2, false);

                                        function showMil2(ev) {
                                            document.getElementById('flatText').setAttribute('class', 'row form-group d-none');
                                        }

                                    </script>

                                </div>
                                <div class="row form-group">
                                    <div class="col-12 col-md-9">
                                        <label class=" form-control-label"><h4>В Збройних Силах з:</h4>
                                        </label>
                                        <input type="date" th:field="*{serviceFrom}"
                                               th:value="${customer.serviceFrom}"
                                               name="date-input"
                                               placeholder="Від" class="form-control date">
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label class=" form-control-label"><h4>Дата звільнення з ЗС:</h4>
                                        </label>
                                        <input type="date" th:field="*{serviceUntill}"
                                               th:value="${customer.serviceUntill}"
                                               name="date-input"
                                               placeholder="Від" class="form-control date">
                                    </div>
                                </div>
                                <div id="flatText" class="row form-group"
                                     th:classappend="${#strings.equals(customer.flatFileNumber, null)||#strings.equals(customer.flatFileNumber, '')}?'d-none':''">
                                    <div class="col-12 col-md-9">
                                        <label for="text-input" class=" form-control-label"><h4>Квартирна справа №</h4>
                                        </label>
                                        <input type="text" th:field="*{flatFileNumber}"
                                               th:value="${customer?.flatFileNumber}" name="text-input-null"
                                               placeholder="Введіть номер" class="form-control">
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <label class=" form-control-label"><h4>Від</h4>
                                        </label>
                                        <input type="date" th:field="*{flatFileDate}"
                                               th:value="${customer.flatFileDate}"
                                               name="date-input"
                                               placeholder="Від" class="form-control date">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="badge badge-primary">Родина</label>
                                        <textarea th:field="*{family}" th:value="${customer.family}" rows="5"
                                                  type="text" class="form-control">
                                                </textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="badge badge-primary">Додаткова інформація</label>
                                        <textarea th:field="*{info}" th:value="${customer.info}" rows="5"
                                                  type="text" class="form-control">
                                                </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row card-footer col-lg-12 col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Зберегти
                    </button>
                    <a th:href="'/cabinet/delete/'+${customer.getId()}" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> ВИДАЛИТИ
                    </a>
                    <a href="/input" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Очистити поля
                    </a>
                    <button type="submit" class="btn btn-primary btn-sm" th:formaction="'/input/print'"
                            style="float: right">
                        <i class="fa fa-dot-circle-o"></i> Друк довідки
                    </button>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Ministry of Defense of Ukraine</p>
                            <p>2022 -
                                <script language="JavaScript" type="text/javascript">
                                    now = new Date;
                                    theYear = now.getYear();
                                    if (theYear < 1900)
                                        theYear = theYear + 1900;
                                    document.write(theYear)
                                </script>
                                . Powered by Sachuk
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<!-- END PAGE CONTAINER-->
</div>
</div>
<script>
    document.getElementById("editForm").onsubmit = function () {
        if (!document.getElementById("text-input").value || !document.getElementById("acc").value) {
            alert("Заповніть важливі поля з першої колонки")
            return false;
        }
    }
</script>
<!-- Jquery JS-->
<script th:src="@{../vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{../vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{../vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<script th:src="@{../vendor/slick/slick.min.js}"></script>
<script th:src="@{../vendor/wow/wow.min.js}"></script>
<script th:src="@{../vendor/animsition/animsition.min.js}"></script>
<script th:src="@{../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<script th:src="@{../vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{../vendor/counter-up/jquery.counterup.min.js}"></script>
<script th:src="@{../vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{../vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{../vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{../vendor/select2/select2.min.js}"></script>
<!--<script th:src="@{../js/sidebarOpen.js}"></script>-->
<script th:src="@{../js/main.js}"></script>
</body>
</html>