<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">
<title>Рейтинг</title>
<head>
    <base href="/">
    <link th:href="@{../css/font-face.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-4.7/css/font-awesome.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-5/css/fontawesome-all.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/mdi-font/css/material-design-iconic-font.min.css}" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link th:href="@{../vendor/bootstrap-4.1/bootstrap.min.css}" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link th:href="@{../vendor/animsition/animsition.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/wow/animate.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/slick/slick.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/select2/select2.min.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" media="all">
    <link th:href="@{../vendor/vector-map/jqvmap.min.css}" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link th:href="@{../css/theme.css}" rel="stylesheet" media="all">

    <!-- Fontfaces CSS-->

</head>

<body id="dynamicContent">
<div th:replace="fragments/skeleton :: navbar(${user}, ${query})"></div>
<div class="main-content"  >
    <form class="col-md-12" th:object="${customer}" th:action="'/getRating/'+${garrison}+'ZAGALNA'" method="post">
        <h2 class="title-1 text-center m-b-15 rating-title" th:text="'Черга гарнізону '+${customers.get(0).work.garrison}+'      '+${customers.size()}+' осіб'"></h2>
        <div class="text-center m-b-15">
            <button type="submit" class="btn" th:classappend="${sort.equals('ZAGALNA')}?'btn-success':'btn-dark'"     >Загальна черга</button>
            <button type="submit" class="btn" th:classappend="${sort.equals('POZA')}?'btn-success':'btn-dark'"      th:formaction="'/getRating/'+${garrison}+'POZA'">Позачергова</button>
            <button type="submit" class="btn" th:classappend="${sort.equals('PERSHO')}?'btn-success':'btn-dark'"     th:formaction="'/getRating/'+${garrison}+'PERSHO'">Першочергова</button>
            <button type="submit" class="btn" th:classappend="${sort.equals('ATO')}?'btn-success':'btn-dark'"      th:formaction="'/getRating/'+${garrison}+'ATO'">Інв./АТО/ООС</button>


<!--            <a type="button" class="btn" th:classappend="${sort.equals('ІСТ')}?'btn-success':'btn-dark'" role="button"    th:href="'/getRating/'+${garrison}+'ІСТ'">ІСТ</a>-->
<!--            <a type="button" class="btn" th:classappend="${sort.equals('ВУ')}?'btn-success':'btn-dark'" role="button"     th:href="'/getRating/'+${garrison}+'ВУ'">ВУ</a>-->
<!--            <a type="button" class="btn" th:classappend="${sort.equals('ОВТ')}?'btn-success':'btn-dark'" role="button"    th:href="'/getRating/'+${garrison}+'ОВТ'">ОВТ</a>-->
            <button type="submit" class="btn" th:classappend="'btn-dark'" style="float: right"  th:formaction="'/getRating/'+${garrison}+${sort}+'/print'">ДРУК</button>
<!--            th:href="'/getRating/'+${garrison}+${sort}+'/print'"-->
        </div>
        <div class="text-center m-b-15">
            <div style="display: inline-block">
                <label class=" form-control-label"><h4>Організація</h4></label>
                <select class="form-control select" style="max-width: 200px" th:field="*{work.workPlace}">
                    <option th:each="var : ${workPlaces}"
                            th:value="${var}" th:text="${var}" ></option>
                </select>
            </div>
            <div style="display: inline-block">
                <label class=" form-control-label"><h4>ЖК</h4></label>
                <select class="form-control select" style="max-width: 200px" th:field="*{work.accountingPlace}">
                    <option th:each="var : ${accountings}"
                            th:value="${var}" th:text="${var}"></option>
                </select>
            </div>
            <div style="display: inline-block">
                <label class=" form-control-label"><h4>Пільга</h4></label>
                <select class="form-control select" style="max-width: 200px" th:field="*{quota}">
                    <option th:each="var : ${quotas}"
                            th:value="${var.id}" th:text="${var.getNameQuota()}"></option>
                </select>
            </div>
            <div style="display: inline-block">
                <label class=" form-control-label"><h4>Кількість членів сім'ї</h4></label>
                <input type="number" th:field="*{familyCount}"
                       th:value="${customer?.familyCount}" name="text-input"
                       placeholder="Кількість членів сім'ї" class="form-control">
            </div>
            <div style="display: inline-block">
                <label class=" form-control-label"><h4>Кількість кімнат</h4></label>
                <input type="number" th:field="*{roomCount}"
                       th:value="${customer?.roomCount}" name="text-input"
                       placeholder="Кількість кімнат" class="form-control">
            </div>
            <div style="display: inline-block">
                <label class=" form-control-label" style="margin-bottom: 14px"><h4>Пройшов реєстрацію</h4></label>
                <div class="form-check">
                    <div class="radio" style="display: inline-block; margin-left: 25px"
                         th:each="ty : ${T(com.sachuk.keu.entities.enums.Registrated).values()}">
                        <input th:field="*{registrated}" th:value="${ty}"
                               th:text="${ty.getName()}" type="radio"

                               name="radios"
                               class="form-check-input"/>
                        <label th:for="${#ids.prev('registrated')}"
                               class="form-check-label "/>
                    </div>
                </div>
            </div>
            <div style="display: inline-block; margin-left: 10px">
                <label class=" form-control-label" style="margin-bottom: 14px"><h4>Сортувати за висл</h4></label>
                <div class="form-check">
                    <div class="radio" style="display: inline-block; margin-right: 25px">
                        <input th:field="*{experience}" th:value="${100}"
                               th:text="НІ" type="radio"
                               name="radios"
                               class="form-check-input"/>
                        <label th:for="${#ids.prev('registrated')}"
                               class="form-check-label "/>
                    </div>
                    <div class="radio" style="display: inline-block; margin-right: 25px">
                        <input th:field="*{experience}" th:value="${200}"
                               th:text="ТАК" type="radio"
                               name="radios"
                               class="form-check-input"/>
                        <label th:for="${#ids.prev('registrated')}"
                               class="form-check-label "/>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive m-b-40">
            <table class="table table-borderless mx-auto">
                <thead class="thead-dark">
                <tr>
                    <th>Ред</th>
                    <th>№</th>
<!--                    <th>Заг.черга.</th>-->
                    <th>Військ. звання</th> <!--sec:authorize="hasAnyAuthority('OPERATOR')"-->
                    <th>Прізвище, ініціали</th>
                    <th>Дата кв/обліку</th>
                    <th>Дата пільги</th>
                    <th>Категорія пільг</th>
                    <th>К-сть чл.сім</th>
                    <th>К-сть кімн.</th>
                    <th>ЖК</th>
                    <th>Організація</th>
                    <th>Висл</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iter : ${customers}" th:class="'table-success'">
                    <td> <!--sec:authorize="hasAnyAuthority('OPERATOR')"-->
                        <a class="btn btn-light" th:href="@{'edit/'+${item.getId()}}">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td th:utext="${iter.index+1}" class="table-danger"></td>
<!--                    <td th:utext="${customers.indexOf(item)+1}"></td>-->
                    <td th:utext="${item.getRank().getShortNameRank()}"></td>
                    <td th:utext="${item.getSurname()+' '+item.getName().charAt(0)+'.'+item.getThirdName().charAt(0)+'.'}"></td>
                    <td th:utext="${item.getFormatAccounting()}"></td>
                    <td th:utext="${(sort.equals('ATO'))?item.getFormatQuota2():item.getFormatQuota()}"></td>
                    <td th:utext="${(sort.equals('ATO'))?item.getQuotaType2():item.getQuotaType()}"></td>
                    <td th:utext="${item.getFamilyCount()}"></td>
                    <td th:utext="${item.getRoomCount()}"></td>
                    <td th:utext="${item.getWork().getAccountingPlace()}"></td>
                    <td th:utext="${item.getWork().getWorkPlace()}"></td>
                    <td th:utext="${item.getExperience()}"></td>
<!--                    <td th:text="'Рекомендован'+((${item.isWomen()})?'а':'ий')+${item.isSuccess() ? ' до зарахування' : ' до вступу'}"></td>-->
                    <!--<td th:text="${item.isSuccess()}?'Поступил': 'Не поступил'"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="copyright">
                <p>Military institute of
                    telecommunications and information technologies named after Heroes of Kruty</p>
                <p>2022 -
                    <script language="JavaScript" type="text/javascript">
                        now = new Date;
                        theYear = now.getYear();
                        if (theYear < 1900)
                            theYear = theYear + 1900;
                        document.write(theYear)
                    </script>. Powered by Sachuk</p>
            </div>
        </div>
    </div>
</div>

</body>

<script th:src="@{../vendor/jquery-3.2.1.min.js}"></script>
<!-- Booth:tstra@{/ JS-->
<script th:src="@{../vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{../vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Venth:dor J@{..//       -->
<script th:src="@{../vendor/slick/slick.min.js}"></script>
<script th:src="@{../vendor/wow/wow.min.js}"></script>
<script th:src="@{../vendor/animsition/animsition.min.js}"></script>
<script th:src="@{../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<script th:src="@{../vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{../vendor/counter-up/jquery.counterup.min.js}"></script>
<script th:src="@{../vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{../vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{../vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{../vendor/select2/select2.min.js}"></script>
<script th:src="@{../vendor/vector-map/jquery.vmap.js}"></script>
<script th:src="@{../vendor/vector-map/jquery.vmap.min.js}"></script>
<script th:src="@{../vendor/vector-map/jquery.vmap.sampledata.js}"></script>
<script th:src="@{../vendor/vector-map/jquery.vmap.world.js}"></script>
<!--<script th:src="@{../js/sidebarOpen.js}"></script>-->
<script th:src="@{../js/main.js}"></script>
</html>
<!-- end document-->
